[Unit]
Description=assignment2
After=network.target

[Service]
WorkingDirectory=/etc/app/
Type=simple
User=root
ExecStart=/etc/app/TechTestApp serve
Restart=always
StartLimitInterval=90
StartLimitBurst=3

[Install]
WantedBy=multi-user.target
